
# tmp files for myself
# coeur_middleman
nuxttmp
oldgit

# sass stuff
.sass_cache

# v2
node_modules
node_modules_dev
node_modules_prod
npm-debug.log
.nuxt
dist

notes.md

.env
.now
.nuxtrc
.vercel

.cache
.output
/build/
/public/build