
.icon-mail:before { content: '\e800'; } /* '' */
.icon-link:before { content: '\e801'; } /* '' */
.icon-info-circled:before { content: '\e802'; } /* '' */
.icon-bookmark:before { content: '\e803'; } /* '' */
.icon-tag:before { content: '\e804'; } /* '' */
.icon-down-open:before { content: '\e805'; } /* '' */
.icon-left-open:before { content: '\e806'; } /* '' */
.icon-right-open:before { content: '\e807'; } /* '' */
.icon-up-open:before { content: '\e808'; } /* '' */
.icon-cc:before { content: '\e809'; } /* '' */
.icon-cc-by:before { content: '\e80a'; } /* '' */
.icon-cc-nc:before { content: '\e80b'; } /* '' */
.icon-cc-sa:before { content: '\e80c'; } /* '' */
.icon-cancel-circled:before { content: '\e80d'; } /* '' */
.icon-cancel:before { content: '\e80e'; } /* '' */
.icon-cv-square:before { content: '\e90a'; } /* '' */
.icon-researcherid:before { content: '\e91a'; } /* '' */
.icon-zotero-square:before { content: '\e932'; } /* '' */
.icon-publons:before { content: '\e937'; } /* '' */
.icon-open-access:before { content: '\e939'; } /* '' */
.icon-academia-square:before { content: '\e93d'; } /* '' */
.icon-publons-square:before { content: '\e94e'; } /* '' */
.icon-researcherid-square:before { content: '\e95c'; } /* '' */
.icon-researchgate:before { content: '\e95e'; } /* '' */
.icon-zotero:before { content: '\e962'; } /* '' */
.icon-pubmed-square:before { content: '\e97d'; } /* '' */
.icon-doi:before { content: '\e97e'; } /* '' */
.icon-figshare:before { content: '\e981'; } /* '' */
.icon-biorxiv-square:before { content: '\e98b'; } /* '' */
.icon-doi-square:before { content: '\e98f'; } /* '' */
.icon-researchgate-square:before { content: '\e99e'; } /* '' */
.icon-pubmed:before { content: '\e99f'; } /* '' */
.icon-biorxiv:before { content: '\e9a2'; } /* '' */
.icon-cv:before { content: '\e9a5'; } /* '' */
.icon-academia:before { content: '\e9af'; } /* '' */
.icon-orcid-square:before { content: '\e9c3'; } /* '' */
.icon-google-scholar:before { content: '\e9d4'; } /* '' */
.icon-orcid:before { content: '\e9d9'; } /* '' */
.icon-open-access-square:before { content: '\e9f4'; } /* '' */
.icon-google-scholar-square:before { content: '\e9f9'; } /* '' */
.icon-bookmark-empty:before { content: '\f097'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-rss:before { content: '\f09e'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-linkedin:before { content: '\f0e1'; } /* '' */
.icon-lightbulb:before { content: '\f0eb'; } /* '' */
.icon-code:before { content: '\f121'; } /* '' */
.icon-info:before { content: '\f129'; } /* '' */
.icon-rss-squared:before { content: '\f143'; } /* '' */
.icon-youtube-play:before { content: '\f16a'; } /* '' */
.icon-mail-squared:before { content: '\f199'; } /* '' */
.icon-paypal:before { content: '\f1ed'; } /* '' */
.icon-github:before { content: '\f300'; } /* '' */
.icon-github-circled:before { content: '\f301'; } /* '' */
.icon-twitter-squared:before { content: '\f304'; } /* '' */
.icon-linkedin-squared:before { content: '\f30c'; } /* '' */