
._organism {
  @extend ._tag;
  // @extend %font-serif;
  font-style: italic;
  // font-size: usetheme(font-1);
  line-height: usetheme(font-1-lh);
  margin-bottom: $size-quart;

  &.__inline {
    display: inline;
  }

  &.--large {
    font-size: $size;
    line-height: usetheme(font-1-lh);
  }

  // &:last-child { // often wrapped in another div so this won't work
  //   margin-bottom: 0
  // }
}
._organism-name {
  font-style: italic;
}
._organism-sp {
  font-style: normal;
}
._organism-tag {
  // list the org name and other metadata
  padding: $size-quart;
}
a._organism {
  font-weight: normal;
  text-decoration: none;
}

._organism-container {
  &:last-of-type {
    ._organism {
      margin-bottom: 0;
    }
  }
}