

/* 

	Typography
  - note that Capsid has its own typography styles

 */


%md-sans_serif, .MD {
  // fixing markdown
  &, *, p {
    @extend %font-sans;
    // font-size: 15px;
    // line-height: 22px;
  }
}

body {
  background-color: usetheme(body-bg); //$color-gray;
  color: usetheme(copy);
}

h1, h2, h3, h4, h5, h6 {
  color: usetheme(header-color);

  &.--roomy {
    padding-bottom: $size-2x;
  }
  &.--title {
    padding-top: 0 !important;
  }
  &.--normal {
    font-weight: normal;
  }
  &.--inline {
    padding-bottom: $size-half !important;
  }
}


// semantically used to introduce a page, not meant to surround content
h1 {
  padding-top: $size-2x;
  padding-bottom: $size-2x;
}

h2 {
// used to separate sections, and is largest element
// lots of room up to, some at bottom to separate content
  padding-top: $size-2x;

  &.--large {
    font-size: $size-4;
    padding-bottom: $size-4 * 3/2;
  }
}

h3 {
// used to introduce subtopics, hugs content but still needs to breathe
  padding-top: $size-2;

  &.--large {
    font-size: $font-h2;
    line-height: $lineheight-h2;
    font-weight: normal;
  }
}

h4 {
// used to introduce subtopics, hugs content but still needs to breathe
  padding-top: $size;
  // line-height: $size-3;
  font-size: $font-h4;
  line-height: $font-h4 * 3/2;

  &.--large {
    font-size: $font-h3;
    line-height: $lineheight-h3;
  }
}

h5 {
  font-size: $size + 2px;
}

h6.--tight, %tight {
  font-size: usetheme(font--2);
  line-height: usetheme(font--2-lh);
  letter-spacing: 1px;
}



// h1 {
//   font-size: $font-h1;
//   line-height: $font-h1 * 1.2;
//   padding-bottom: $size-2x;
// }

// h2 {
//   // font-size: $size-2x;
//   line-height: $font-h2 * 1.2;
//   // padding-top:0;
//   // padding-bottom: 0;
// }

// h3 {
//   font-size: $size-2x;
//   line-height: $size-3;
//   // padding-top:0;
//   // padding-bottom: 0;
// }


// template / layout 
.ContentFrame {
  position: relative;

  // prevent scrolling the page when mobile nav is open
  &.--open {
    @include screen-xs {
      overflow: hidden;
      height: 100%;
      width: 100%;
      position: fixed;
    }
  }
}

blockquote {
  // border-left: $border-medium solid;
  border-color: usetheme(border-color); //$color-tertiary;
  padding-left: $size-2;
  padding-right: $size-2;

  &, p {
    font-size: $font-large;
    line-height: $font-large-lineheight * 1;
    @extend %font-serif;
    -webkit-font-smoothing: auto;
    -moz-osx-font-smoothing: unset;
    font-style: italic;
    color: usetheme(brand-copy);
    // @extend .--antialias;
  }
  cite, .source {
    @extend %font-sans;
    color: usetheme(copy); //$color-gray;
    font-size: $size;
    font-style: normal;
    color: usetheme(copy);
  }
}



%copy-large {
  font-size: usetheme(copy-large);
  line-height: usetheme(copy-large-lh);
  margin-bottom: $size-3;
}
.Copy-large {
  p, ul, li, table {
    @extend %copy-large;
  }
}

p, ul, li, {
  // font-size: $font-size-base;
  // line-height: $font-lineheight;
  @extend %md-sans_serif;

  padding-left: 0;
  // @extend %font-serif;

  a { // in-paragraph links
    // font-weight: 700;
    &+a {
    }
  }
}

.--underline {
  text-decoration: underline;
  &-i {
    text-decoration: underline !important;
  }
}

.ContentFrame-body a {
  font-weight: bold;
}

// body links
a, ._link {
  cursor: pointer;
  text-decoration: underline;
  text-decoration-color: usetheme(links-decoration); //$color-links;
  color: usetheme(links); //$color-links;
  border: 0;
  position: relative;
  // color: $color-green;
  // @extend ._pointer-no_events;
  // @extend %ease-fast;

  &:visited {
    color: usetheme(links);
  };

  &:hover, &:active {
    color: usetheme(hover); //$color-links;
    text-decoration-color: usetheme(hover); //$color-links;
  }

  &._button {
    text-decoration: none;
  }

  &.--disabled {
    color: usetheme(disabled);
  }

  &.--quiet {
    // color: usetheme(pink-active);
    padding-bottom: $size;
    font-size: $size--1;

    &:hover {
    }

  }

  &.--nolink {
    font-weight: normal;
    text-decoration: none;
    color: usetheme(copy);
  }
}







// fontello-generated font icons for academics 

// uses:
// - academicons (https://jpswalsh.github.io/academicons/)
// - font awesome (https://fontawesome.com/icons/)
@font-face {
  font-family: 'phagedir';
  src: url('/fonts/fontello/font/phagedir.eot');
  src: url('/fonts/fontello/font/phagedir.eot#iefix') format('embedded-opentype'),
       url('/fonts/fontello/font/phagedir.woff') format('woff'),
       url('/fonts/fontello/font/phagedir.ttf') format('truetype'),
       url('/fonts/fontello/font/phagedir.svg#phagedir') format('svg');
  font-weight: normal;
  font-style: normal;
}
._font-phage {
  font-family: "phagedir";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .05em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  // line-height: 1em;
  font-size: 125% !important;
  line-height: $size;
 
  position: relative;
  bottom: -.1rem;
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-mail:before { content: '\e800'; } /* '' */
.icon-link:before { content: '\e801'; } /* '' */
.icon-info-circled:before { content: '\e802'; } /* '' */
.icon-bookmark:before { content: '\e803'; } /* '' */
.icon-tag:before { content: '\e804'; } /* '' */
.icon-down-open:before { content: '\e805'; } /* '' */
.icon-left-open:before { content: '\e806'; } /* '' */
.icon-right-open:before { content: '\e807'; } /* '' */
.icon-up-open:before { content: '\e808'; } /* '' */
.icon-cc:before { content: '\e809'; } /* '' */
.icon-cc-by:before { content: '\e80a'; } /* '' */
.icon-cc-nc:before { content: '\e80b'; } /* '' */
.icon-cc-sa:before { content: '\e80c'; } /* '' */
.icon-cancel:before { content: '\e80d'; } /* '' */
.icon-search:before { content: '\e80e'; } /* '' */
.icon-cv-square:before { content: '\e90a'; } /* '' */
.icon-researcherid:before { content: '\e91a'; } /* '' */
.icon-zotero-square:before { content: '\e932'; } /* '' */
.icon-publons:before { content: '\e937'; } /* '' */
.icon-open-access:before { content: '\e939'; } /* '' */
.icon-academia-square:before { content: '\e93d'; } /* '' */
.icon-publons-square:before { content: '\e94e'; } /* '' */
.icon-researcherid-square:before { content: '\e95c'; } /* '' */
.icon-researchgate:before { content: '\e95e'; } /* '' */
.icon-zotero:before { content: '\e962'; } /* '' */
.icon-pubmed-square:before { content: '\e97d'; } /* '' */
.icon-doi:before { content: '\e97e'; } /* '' */
.icon-figshare:before { content: '\e981'; } /* '' */
.icon-biorxiv-square:before { content: '\e98b'; } /* '' */
.icon-doi-square:before { content: '\e98f'; } /* '' */
.icon-researchgate-square:before { content: '\e99e'; } /* '' */
.icon-pubmed:before { content: '\e99f'; } /* '' */
.icon-biorxiv:before { content: '\e9a2'; } /* '' */
.icon-cv:before { content: '\e9a5'; } /* '' */
.icon-academia:before { content: '\e9af'; } /* '' */
.icon-orcid-square:before { content: '\e9c3'; } /* '' */
.icon-google-scholar:before { content: '\e9d4'; } /* '' */
.icon-orcid:before { content: '\e9d9'; } /* '' */
.icon-open-access-square:before { content: '\e9f4'; } /* '' */
.icon-google-scholar-square:before { content: '\e9f9'; } /* '' */
.icon-bookmark-empty:before { content: '\f097'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-rss:before { content: '\f09e'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-linkedin:before { content: '\f0e1'; } /* '' */
.icon-lightbulb:before { content: '\f0eb'; } /* '' */
.icon-code:before { content: '\f121'; } /* '' */
.icon-info:before { content: '\f129'; } /* '' */
.icon-rss-squared:before { content: '\f143'; } /* '' */
.icon-youtube-play:before { content: '\f16a'; } /* '' */
.icon-mail-squared:before { content: '\f199'; } /* '' */
.icon-paypal:before { content: '\f1ed'; } /* '' */
.icon-github:before { content: '\f300'; } /* '' */
.icon-github-circled:before { content: '\f301'; } /* '' */
.icon-twitter-squared:before { content: '\f304'; } /* '' */
.icon-linkedin-squared:before { content: '\f30c'; } /* '' */



// adds a bg effect to links
// %links-bg,
// ._links-bg {
//   position: relative;
//   &:after {
//     content: ' ';
//     position: absolute;
//     left: $offset; bottom: -2px;
//     height: $offset/2;
//     background: $color-main;
//     padding: $offset;

//     width: 100%;
//     z-index: -1;

//     // clip-path: polygon(0% 20%, 80% 0%, 100% 0, 100% 100%, 0 100%);
//   }
// }


// some pages have an intro section / overview w/ larger text 
.Intro {
  @extend ._font-larger;

}



// tmp 

// PX to REM - Usage: font-size: rem(37px);
@function rem($px, $size-base: $size) {
  @return ($px / $size-base) * 1rem;
}


$typography: (
  rem--2: $size--1,
  rem--2-lh: $size--1 * 5/2,
  rem--1: $size-smaller,
  rem--1-lh: $size-smaller * 3/2,
  rem: rem($size),
  rem-lh: rem($size * 3/2),
  rem-1: rem($size-1),
  rem-1-lh: rem($size-1 * 3/2),
  rem-2: rem($size-2),
  rem-2-lh: rem($size-2 * 3/2),
  rem-3: $size-3,
  rem-3-lh: $size-3 * 4/3,
  rem-4: $size-4,
  rem-4-lh: $size-4 * 5/4,
  rem-5: $size-5,
  rem-5-lh: $size-5 * 6/5,
  rem-6: $size-6,
  rem-6-lh: $size-6 * 6/5,
  rem-7: $size-7,
  rem-7-lh: $size-7 * 6/5,
  rem-8: $size-8,
  rem-8-lh: $size-8,
  rem-9: $size-9,
  rem-9-lh: $size-9,
);
@include addtheme($typography);

// // these are manual / no mixin b/c we want to be able to tweak+adjust them in the future w/ bold, medium, etc.
// ._font--2 {
//   font-size: usetheme(font--2);
//   line-height: usetheme(font--2-lh);
// }
// ._font--1 {
//   font-size: usetheme(font--1);
//   line-height: usetheme(font--1-lh);
//   &#{5} {
//     font-weight: bold;
//   }
// }
// ._font {
//   font-size: usetheme(font);
//   line-height: usetheme(font-lh);
// }
// ._font-1 {
//   font-size: usetheme(font-1);
//   line-height: usetheme(font-1-lh);
// }
// ._font-2 {
//   font-size: usetheme(font-2);
//   line-height: usetheme(font-2-lh);
// }
// ._font-3 {
//   font-size: usetheme(font-3);
//   line-height: usetheme(font-3-lh);
// }
// ._font-4 {
//   font-size: usetheme(font-4);
//   line-height: usetheme(font-4-lh);
// }
// ._font-5 {
//   font-size: usetheme(font-5);
//   line-height: usetheme(font-5-lh);
// }
// ._font-6 {
//   font-size: usetheme(font-6);
//   line-height: usetheme(font-6-lh);
// }
// ._font-7 {
//   font-size: usetheme(font-7);
//   line-height: usetheme(font-7-lh);
// }
// ._font-8 {
//   font-size: usetheme(font-8);
//   line-height: usetheme(font-8-lh);
// }
// ._font-9 {
//   font-size: usetheme(font-9);
//   line-height: usetheme(font-9-lh);
// }








