

@import 'settings.scss';
@import 'design.scss';
@import 'layout'; // typography, basic design & whitespace


@import 'highlightjs'; // for code highlighting
@import 'print'; // print mode / capsid


// modular
@import 'components';
@import 'sections';
@import 'templates';


.formFieldAndSubmitContainer {
  background-color: red !important;
}


.Header-title {
  
}

// $splash: 450px;
._splash-container {
  position: relative;
  // top: -175px;
  left: 0;
  width: 100%;
  // height: $splash;
}
  ._splash-image {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    // background-position: top;
    width: 100%;
    // height: $splash;
  }



/* 

  Experiments

 */



// used for medium-like full-width images
._image-stretch-bg {
  margin-top: $size*2;
  margin-bottom: $size*2;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

img {
  &.--profile {
    & > *, & {
      // width: 100%;
      border-radius: 100%;
      border: $border-medium solid usetheme(mono-disabled);
    }

    &.--medium {
      width: usetheme(profile);
      height: usetheme(profile); 
      min-width: usetheme(profile);
    }
  }
}


.Feed-item {
  h6 {
    padding: 0;
    font-weight: normal;
  }
  h5 {
    padding-top: 2px;
    padding-bottom: 4px;
  }
}


._label {
  font-size: $size--2; // usetheme(font--2);
  line-height: $size--2 * 2;
  letter-spacing: 0.5px;
  color: usetheme(copy-light);
  text-transform: uppercase;
  font-weight: 500;
}

.phagey {
  display: inline-block;
  font-weight: 400;
  position: relative;
  bottom: 1px;
}

/* 

  To be added to Coeur

 */

 // ._md-plist {
 //  // md sometimes adds paragraphs to each list item, which adds paragraph margins
 //  // this removes paragraph stylings from list items 
 //  li {
 //    p {
 //      margin-bottom: 0;
 //    }
 //  }
 // }

// ._grid-1 {
//   // works like block but super useful for applying grid template areas
//   display: grid;
//   grid-template-rows: 1fr;
//   grid-template-columns: 1fr;
// }
//   ._grid-1-xs {
//     // works like block but super useful for applying grid template areas
//     @include screen-xs {
//       display: grid;
//       grid-template-rows: 1fr;
//       grid-template-columns: 1fr;
//     }
//   }


