

$forms: (
  btn-bg: usetheme(pink-50),
);

// dynamic form
.Form {
  .Form-btn {
    background-color: usetheme(btn-bg, $forms);

    &:hover {
      background-color: usetheme(hover); // (btn-active); //$color-links;
      color: usetheme(white); //$color-bg;
      border-color: usetheme(hover); // (btn-active); //$color-links;
    }
    &:active, &:focus {
      background-color: usetheme(pink-active); //$color-links;
      color: usetheme(white); //$color-bg;
      border-color: usetheme(pink-active); //$color-gray;
    }

    &.--loading {
      cursor: progress;
      &, &:active, &:hover, &:focus {
        color: usetheme(pink-copy);
        border-color: usetheme(active);
        background-color: usetheme(pink-10);
      }
    }
  }

  // broken in coeur
  ._form-checkbox {
    input:focus {
      & + span {
        // border-color: $color-links;
        border-bottom: $border-thin solid usetheme(links);
      }
    }
  }
}



// cards in forms, as quick questions (e.g. contact page)
.FormCard {
	@extend ._card;
	// padding: $size $size-2x;
  padding: $size;
  color: usetheme(copy);

  @include screen-xs {
    padding: $size;
  }
}


// standardized form template
.Formlet {
  h1, h2, h3, h4, h5, h6 {
    padding-bottom: 0;
  }
  p {
    &:last-child {
      margin-bottom: 0;
    }
  }

  ._form-control {
    margin-bottom: $size-2x;
  }
  ._form-label {
    &, p {
      font-size: $font-large;
    }
  }
  ._form-desc {
    &, p {
      font-size: $font-small;
    }
  }

  ._error {
    @extend ._card;
    padding: $size-half $size;
    margin-top: $size-half;
    border: $border-line solid usetheme(pink-border);
    background-color: usetheme(pink-background);
  }
}


