
// Specific for Kisaco / Phage Futures prototype
// $phagefutures-maxwidth: 100%; // 566.89px;
// $phagefutures-post-maxwidth: 100%; // 479.05px;
$timeline-sidebar: 70px; // 566.89px;
$timeline-post-width: 100%; // 479.05px;

.PhageFutures-menu {
  position: relative;
  &:after {
    content: '';
    border-bottom: $border-thick solid usetheme(disabled);
    position: absolute;
    bottom: -12px;
    left: 0;
    width: 100%;
  }

  a {
    @extend h5;
    margin-right: $size;
    text-decoration: none;
    padding-bottom: $size-half;

    // current highlighted view
    &.nuxt-link-exact-active {
      position: relative;
      z-index: 100;
      color: usetheme(active);
      border-bottom: $border-thick solid usetheme(active);
    }
  }

  @include screen-xs {
    display: block;

    a {
      display: block;
      text-align: left;
      margin: 0;
    }
  }
}


// .PhageFutures-agenda {
//   margin-bottom: $size-2x;

//   h6 {
//     padding-bottom: $size-half;
//     color: usetheme(copy-light);
//   }
// }
//   .PhageFutures-agenda-meta {
//     // time sig for each agenda
//     div {
//       // @extend ._font-small;
//       // font-weight: bold;
//       text-align: right;
//       color: usetheme(copy-light);
//     }
//   }





.TimelineCard {
  margin-bottom: $size;

  // @include screen-xs {
    // display: block;
  // }
}

.TimelineCard-header {
  color: usetheme(copy-gray);
}

.TimelineCard-twitter {
  width: 100%;

  .twitter-tweet {
    max-width: 100% !important;
    // fits the tweet w/in the grid; for some reason only respects !important
    // max-width: 420px !important;

    @include screen-xs {
      // max-width: 280px !important;
      max-width: 100% !important;
      width: 100% !important;
      margin: 0 auto;
    }

    @include screen-sm {
      width: 100% !important;
    }
  }
}

.TimelineCard-sidebar {
  width: $timeline-sidebar;
  .--profile {
    width: 70px;
    height: 70px;
    object-fit: cover;
  }

  // @include screen-xs {
  //   .--profile {
  //     margin-left: 0;
  //     width: 50px;
  //     height: 50px;
  //   }
  // }
}

.timelineCard-main {
  width: $timeline-post-width;
}

.TimelineCard-images {
  img {
    max-width: 100%;
  }
}

a.TimelineCard-author {
  font-weight: bold;
  text-decoration: none;
}
  .TimelineCard-header-meta {
    color: usetheme(copy-light);
  }

.TimelineCard-content.--transparent {
  border-color: transparent; // usetheme(bg-silver);
  background: usetheme(bg-silver);
  padding: $size;
  margin-bottom: 0;
  max-width: 100%; // $phagefutures-maxwidth; // forces twitter cards to shrink
  width: 100%;

  @include screen-xs {
    // padding: $size/4;
    // doesn't look good w/ regular posts, but for tweets the padding takes up a lot of room
    // fix later / todo
  }
}
  
  // 
  .TimelineCard-content.--transparent {
    max-width: 100%; // $phagefutures-post-maxwidth; // forces twitter cards to shrink
  }


  .AgendaCard-header {
    *, h6 {
      color: usetheme(copy-light);
      // @extend ._font-small;
    }
    // @extend ._align-bottom;
  }
  // .AgendaCard-header {
  //   color: usetheme(copy-light);
  // }
    .AgendaCard-main {
      // @extend ._card;
      // @extend .--simple;
      @extend ._md-p_fix;
      border-color: transparent; // usetheme(bg-silver);
      background: usetheme(bg-silver);
      padding: $size;
      margin-bottom: 0;
      max-width: 100%; // $phagefutures-maxwidth; // forces twitter cards to shrink
      width: 100%;
    }



// Agenda component that's marked as archived 
// shouldn't fade past events
.Agenda.--archive {
  .--expired {
    opacity: 1 !important;
  }
}



// generalized agenda items
.Agenda-block {
  &:not(:first-of-type) {
    .--meta-major {
      @extend ._divider-top;
    }
  }
}



// up next box
.Agenda-now,
.Agenda-next {
  .AgendaEvent {
    border-left: $border-medium solid usetheme(active);
  }
}

// timeline container
.Timeline {
  .--expired {
    // force expired posts in timeline to remain 100% opacity
    opacity: 1 !important;
  }
  .AgendaEvent {
    &.--now,
    &.--upcoming {
      padding-left: $size;
      border-left: $border-medium solid usetheme(active);
    }
    .AgendaEvent-item {
      margin: 0;
      .AgendaEvent-item-title {
        &:before {
          content: none;
          border: 0 !important;
        }
      }
    }
  }
}




// agenda container
// .PhageFutures-agenda {

// }


// AgendaEvent

%line-highlight {
  @include screen-sm {
    position: relative;
    &:before {
      $width : 30px;
      $height: $border-medium;
      content: ' ';
      position: absolute;
      width: $width;
      border: $height solid usetheme(main);
      left: - $width - $size;
      top: calc(50% - #{$height});
    }
  }
}

.AgendaEvent {
  &.--upcoming {
    @extend ._card;
    padding: $size;
    margin-bottom: $size-2x;
  }
  @include screen-xs {
    margin-top: $size-2x;
  }
}

  .AgendaEvent-next {
    @extend h6;
    padding: 0;
  }

  .AgendaEvent-item {

    margin-top: $size;
    margin-bottom: $size;

    .AgendaEvent-item-name {
      font-weight: bold;
    }
    .AgendaEvent-item-speakers {
      &, * {
        margin-top: $size-half;
        font-size: $font-small;
        line-height: $font-small * 1.5;
        padding-bottom: $size;
      }
    }

    &.--meta-major {
      // describes event start and end
      // @extend ._card;
      // @extend .--highlight;
      // @extend .--transparent;
      // @extend .--simple;
      border: 0;

      padding: $size;
      padding-left: 0;
      padding-right: 0;
      .AgendaEvent-item-title {
        @extend h4;
        padding: 0;
        @extend %line-highlight;
      }
      .AgendaEvent-item-date {
        color: usetheme(copy);
      }
    }

    &.--meta-descriptor {
      // describes event start and end
      // @extend ._card;
      // @extend .--highlight;
      // @extend .--transparent;
      // @extend .--simple;
      border: 0;

      padding: $size;
      padding-left: 0;
      padding-right: 0;
      .AgendaEvent-item-title {
        @extend h6;
        padding: 0;
        @extend %line-highlight;
      }
    }
    &.--meta-session {
      // Session is also meta, but describes the next few blocks, kind of like "day"
      // @extend ._card;
      // @extend .--highlight;
      // @extend .--transparent;
      // @extend .--simple;
      border: 0;

      // color: usetheme(highlight);
      padding: $size;
      padding-left: 0;
      margin-top: $size-2x;
      margin-bottom: $size-2x;
      .AgendaEvent-item-title {
        @extend h6;
        padding: 0;
        @extend %line-highlight;
        line-height: $size-2;
      }
      .--meta-session-header {
        @extend h6;
        padding: 0;
        color: usetheme(copy-light);
      }

      @include screen-xs {
        padding: $size;
        // background-color: usetheme(highlight);
      }
    }
    &.--meta-event {
      // describes an event like start, end, lunch, break
      // Day, Day End, and Event
      // @extend ._card;
      // @extend .--active;
      // @extend .--highlight;
      // @extend .--simple;

      // padding: $size;
      .AgendaEvent-item-title {
        @extend h5;
        padding: 0;
      }
      .AgendaEvent-item-date {
        color: usetheme(copy);
      }
    }

    // a past event in the agenda
    &.--expired {
      opacity: 0.3;
      
    }

  }
    .AgendaEvent-item-date {
      color: usetheme(copy-light);
    }
  .AgendaEvent {
    &.--upcoming {
      .AgendaEvent-item {
        margin-top: 0;
        margin-bottom: 0;
      }
    }
  }



// Posters

.Events-posters {
  .Events-poster-description {
    @extend ._font-small;
  }
}








