
.ProfileCard {
  @extend ._card;
  padding: $size-2x;
  
  // &._card {
    &:hover {
      background-color: inherit;
    }
    .profile-name {
      font-size: $font-large;
      line-height: $font-larger + 4px;
      padding-bottom: $size-half;
    }
    .profile-image img {
      border-radius: $radius;
    }
  // }
}

// image profile
.ProfileCard-avatar {
  border-radius: 100%;
}













// 
//    Editor
// 


.Profile-edit {


  .Profile-avatar-control {
    label._button {
      padding-bottom: $size; // correct for _card > label
    }
    #Profile-avatar {
      display: none;
    }

  }

}