
.Twitter {
  width: 100%;
  max-width: 100%;
  // overflow: scroll;
  .twitter-timeline,
  #twitter-widget-0 {
    // max-width: $width-xs-max !important;
    // width: 100% !important;
  	height: 100%;
  }
}